{% extends 'core/base.html' %}

{%block title%}Contact{%endblock%}

{% block content %}
    <h3 class="mb-5 font-semibold text-xl text-pink-400"> Zapraszamy do kontaktu z autorkami bloga </h3>
    <h3 class="mb-5 font-semibold text-lg text-gray-400"> Anna Pies </h3>
    <h3 class="mb-5 font-semibold text-base text-slate-950"> Email: anna.woof@gmail.com </h3>
    <h3 class="mb-5 font-semibold text-base text-slate-950"> Nr telefonu: +48 111 222 333 </h3>

    <h3 class="mb-5 font-semibold text-lg text-gray-400"><br> Małgorzała Kot </h3>
    <h3 class="mb-5 font-semibold text-base text-slate-950"> Email: gosia.meow@gmail.com </h3>
    <h3 class="mb-5 font-semibold text-base text-slate-950"> Nr telefonu: +48 444 555 666 </h3>

{% endblock %}